<ion-header>
    <ion-toolbar color="success">
        <ion-buttons start>
            <button ion-button icon-only [navPush]="pushPage">
                <ion-icon name="ios-home-outline"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            Daftar Orderan
        </ion-title>
    </ion-toolbar>
</ion-header> 

<ion-content>
    <p text-center class="emptyOrder" *ngIf="empty">
        <ion-icon class="icSad" name="ios-sad-outline"></ion-icon>
        <br>
        Ups! Anda belum melakukan pembayaran produk.
    </p>
    <ion-list *ngIf="konten">
        <ion-item-divider color="secondary">
            <p item-start>Total Orderan</p>
            <p item-end><strong>Rp.{{totalPembayaran}}</strong></p>
        </ion-item-divider>
        <ion-list *ngFor="let item of dataSet" no-padding>
                <div (click)="openInfo(item.nama, item.harga_satuan, item.foto, item.nama_penyedia, item.alamat, item.menu_kode_item, item.id_penyedia)">
                    <ion-item color="light" no-lines>
                        <ion-icon name="ios-calendar-outline" item-start></ion-icon>
                        <p>{{item.dt_belanja | amTimeAgo}}</p>
                        <p item-end>Rp.{{item.conv_harga}}</p>
                    </ion-item>
                    <ion-item>  
                        <ion-icon name="ios-restaurant-outline" item-start></ion-icon>
                        <p>{{item.nama}}</p>
                        <p item-end>{{item.qty}} item</p>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="ios-pin-outline" item-start></ion-icon>
                        <p text-wrap>{{item.address}}</p>
                    </ion-item>
                </div> 
                <ion-item no-lines>
                    <ion-icon name="ios-barcode-outline" item-start></ion-icon>
                    <p>Kode Belanja: {{item.kode_belanja}}</p>
                </ion-item>
                <hr>
        </ion-list>
    </ion-list>
</ion-content>