<ion-header>
    <ion-toolbar color="primary">
      <ion-title>OkeDeli</ion-title>
      <ion-buttons end>
        <button ion-button icon-only [navPush]="PushBantuan">
          <ion-icon name="bulb"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-fab bottom right >
        <button ion-fab color="primarydark">
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-fab-list side="top">
          <button ion-fab color="primarydark" (click)="openOrder()">
              <ion-icon name="checkmark-circle"></ion-icon>
          </button>
          <button ion-fab color="primarydark" (click)="openKeranjang()">
              <ion-icon name="cart"></ion-icon>
          </button>
        </ion-fab-list>
        <ion-fab-list side="left">
            <button ion-fab color="primarydark" [navPush]="PushAkun">
                <ion-icon name="person"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>

    <ion-scroll scrollX="true" style="width:100%;height:70px">
        <div class="inner">
            <ion-grid>
                <ion-row no-padding>
                  <ion-col col-2 (click)="getProductCategory(3, 'Cakes')">
                      <div style="background-color:#fff;width:60px;height:60px;border-radius:30%;border-style:solid;border-color:#c8b7b5;border-width: 1pt;">
                          <img src="https://okedeli.com/apps/images/category/cake64.png">
                      </div>
                  </ion-col>
                  <ion-col col-2 (click)="getProductCategory(4, 'Fast Food')">
                    <div style="background-color:#fff;width:60px;height:60px;border-radius:30%;border-style:solid;border-color:#c8b7b5;border-width: 1pt;">
                        <img src="https://okedeli.com/apps/images/category/pizza64.png">
                    </div>
                  </ion-col>
                  <ion-col col-2 (click)="getProductCategory(1, 'Chicken Food')">
                    <div style="background-color:#fff;width:60px;height:60px;border-radius:30%;border-style:solid;border-color:#c8b7b5;border-width: 1pt;">
                        <img src="https://okedeli.com/apps/images/category/chicken48.png">
                    </div>
                  </ion-col>
                  <ion-col col-2 (click)="getProductCategory(2, 'Food')">
                    <div style="background-color:#fff;width:60px;height:60px;border-radius:30%;border-style:solid;border-color:#c8b7b5;border-width: 1pt;">
                        <img src="https://okedeli.com/apps/images/category/food64.png">
                    </div>
                  </ion-col>
                  <ion-col col-2 (click)="getProductCategory(5, 'Drink')">
                    <div style="background-color:#fff;width:60px;height:60px;border-radius:30%;border-style:solid;border-color:#c8b7b5;border-width: 1pt;">
                        <img src="https://okedeli.com/apps/images/category/drink64.png">
                    </div>
                  </ion-col>
                  <ion-col col-2 (click)="getProductCategory(6, 'Fruits')">
                    <div style="background-color:#fff;width:60px;height:60px;border-radius:30%;border-style:solid;border-color:#c8b7b5;border-width: 1pt;">
                        <img src="https://okedeli.com/apps/images/category/fruit64.png">
                    </div>
                  </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </ion-scroll>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Tarik untuk pembaruan"
          refreshingSpinner="circles"
          refreshingText="Pembaruan...">
        </ion-refresher-content>
    </ion-refresher>
    <!-- <ion-list [virtualScroll]="dataSet" approxItemHeight="20px">
        <ion-item *virtualItem="let item" (click)="getProductDetail(item.id)">
            <ion-avatar item-start>
                <ion-img [src]="item.img_product"></ion-img>
            </ion-avatar>
                <div><strong>{{item.nama}}</strong></div>
                <small>{{item.harga_satuan}}</small>
        </ion-item>
    </ion-list> -->

    <div padding>
        <ion-segment [(ngModel)]="produk">
          <ion-segment-button value="populer">
            <strong>Populer</strong>
          </ion-segment-button>
          <ion-segment-button value="penyedia">
            <strong>Penjual</strong>
          </ion-segment-button>
        </ion-segment>
      </div>
                
      <div [ngSwitch]="produk">
        <ion-list *ngSwitchCase="'populer'">

            <ion-grid no-padding fixed>
                <ion-row>
                  <ion-col col-6 *ngFor="let item of dataSet" (click)="getProductDetail(item.id)">
                    <ion-card>
                      <img src="https://okedeli.com/apps/images/{{item.foto}}"/>
                      <ion-card-content no-padding>
                          <ion-item>
                            <p><strong>{{item.nama}}</strong></p>
                            <p><small>Rp.{{item.harga_satuan}}</small></p>
                          </ion-item>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                </ion-row>
            </ion-grid>

        </ion-list>
                
        <ion-list *ngSwitchCase="'penyedia'">
          <button ion-item *ngFor="let item of dataSetPenyedia" (click)="getProductPenyedia(item.id_penyedia, item.nama_penyedia)">
            {{ item.nama_penyedia }}
          </button>  
        </ion-list>
      </div>
</ion-content>